/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.btn{
    border-radius: 2px !important;
}

.btn-register{
    float: right;
    margin-right: 15px;
}

.m-t-15{
    margin-top: 15px !important;
}
.m-t-15-n{
    margin-top: -15px !important;
}